.container{
  display: flex;
  margin: var(--gap) 0 0 var(--gap);
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
  min-width: 300px;
  max-width: 400px;
}

.right{
  position: relative;
  left: 50px;
}