.container{
  display: flex;
  margin: var(--gap) 0 0 var(--gap);
}

.center{
  margin: auto;
  width: 50%;
 padding: 10px;
}

.leftdiv {
  min-width: 300px;
  max-width: 300px;
}

.rightdiv {
  width: 50px;
  float: right;
}